
img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.ikony{
    width: 35px;
    height: 35px;
    margin: 0 auto;
}


.koszyk {
    width: 32px;
    height: 32px;
    transition: transform 1s;
}

.koszyk:hover {
    transform: scale(1.2);
}

#navbarNav{
    font-size: 20px;
    font-weight: 500;
}

.naglowek {
    font-family: "Cherry Bomb One", system-ui;
    font-size: 30px;
    color: #500b0b;
}
body {
    overflow-x: hidden;
}

.pizzaAside {
    width: 500px;
    height: 500px;
    animation: krecenie 10s linear infinite;
    position: relative;
    left: 65%;
    object-fit: cover;
}


@keyframes krecenie {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.technologie-ikony {
    width: 75px;
    height: 75px;

}
.technologie-ikony:first-child:hover{
    box-shadow: 6px 9px 24px 20px rgba(255, 75, 0, 1);
}

